[submodule "Carthage/Checkouts/SWXMLHash"]
	path = Carthage/Checkouts/SWXMLHash
	url = ssh://git@github.com/drmohundro/SWXMLHash.git
[submodule "Carthage/Checkouts/YamlSwift"]
	path = Carthage/Checkouts/YamlSwift
	url = https://github.com/behrang/YamlSwift.git
[submodule "Carthage/Checkouts/SourceKitten"]
	path = Carthage/Checkouts/SourceKitten
	url = ssh://git@github.com/jpsim/SourceKitten.git
[submodule "Carthage/Checkouts/Yams"]
	path = Carthage/Checkouts/Yams
	url = ssh://git@github.com/jpsim/Yams.git
[submodule "Carthage/Checkouts/SwiftGraph"]
	path = Carthage/Checkouts/SwiftGraph
	url = ssh://git@github.com/davecom/SwiftGraph.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = ssh://git@github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/Commandant"]
	path = Carthage/Checkouts/Commandant
	url = ssh://git@github.com/Carthage/Commandant.git
